@import './components/dots';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

$main-color: #118ab2;
$form-bgc: #f3f3f3;
$border-color: #9DA5B2;
$green-color: #61EDAA;

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-container{
    width: 30%;
    margin: 5% 0 2% 0;

    &__bar{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 2%;
    }
    
    &__line{
        width: 90%;
        margin-left: 5%;
        height: 20%;
        position: absolute;
        background-color: rgb(192, 189, 189);
        z-index: 1;
        border-radius: 5px;
        &--cover{
            width: 25%;
            z-index: 2;
            background-color: $main-color;
            left: 0;
            transition: all .5s ease;
        }
    }
    &__dots{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: rgb(192, 189, 189);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 3;
        transition: all .5s ease;
        &--1{
            background-color: #0581aa;
        }
    }
    &__icons{
        pointer-events: none;
        &--1{
            color: white;
        }
    }
    &__paragraphs{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text{
        width: 33%;
        &--1{
            text-align: left;
        }
        &--2{
            text-align: center;
        }
        &--3{
            text-align: right;
        }
    }
}

.form{
    width: 50%;
    height: 50%;
    padding: 5%;
    border-radius: 10px;
    background-color: $form-bgc;
    display: none;
    grid-template-columns: 30% repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "photo name name"
    "photo secname secname"
    "photo email email"
    "adress city post"
    "number button button"
    ;
    column-gap: 3%;

    &__label{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        justify-self: center;
        align-self: center;

        &--name{
            grid-area: name;
        }
        &--secname{
            grid-area: secname;
        }
        &--email{
            grid-area: email;
        }
        &--number{
            grid-area: number;
        }
        &--adress{
            grid-area: adress;
        }
        &--post{
            grid-area: post;
        }
        &--city{    
            grid-area: city;
        }
        &--button{
            grid-area: button;
        }
    }
    &__input{
        height: 100%;
        border: none;
        border-bottom: solid $border-color 1px;
        background-color: transparent;
        outline: none; 
        font-size: 15px;

        &:focus{
            border-bottom: solid $green-color 1px;
        }

        &--name, &--secname, &--email{
            width: 100%;
        }

        &--adress, &--number{
            width: 100%;
        }

        &--city, &--post{
            width: 100%;
        }

        &--button{
            font-size: 18px;
            background-color: $main-color;
            padding: 2% 5%;
            color: $form-bgc;
            border: none;
        }
        
    }
    &--unactive{
        display: none;
    }
}

.imageInput{
    grid-area: photo;
    width: 65%;
    height: 100%;
    position: relative;
    background: transparent;
    border: solid 1px $green-color;
    display: flex;
    flex-direction: column;

    &__img{
        width: auto;
        height: 100%;
        z-index: 10;
    }

    &__label{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;

        &:focus{
            cursor: pointer;
        }
    }

    &__input{
        position: absolute;
        width: 100%;
        height: 95%;
        color: transparent;
        z-index: 20;

        &:hover{
            cursor: pointer;
        }

        &::-webkit-file-upload-button{
            display: none;
        }
    }
}

.experience{
    width: 40%;

    &__container{
        width: 100%;
        background-color: $form-bgc;
        padding: 5% 0 5% 0;
        margin: 5% 0 5% 0;
        border-radius: 10px;
    }

    &__form{
        width: 100%;
        height: 35vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
        "title title"
        "profession city"
        "company company"
        "start end"
        "button button"
        ;
        row-gap: 5%;

        &--language{
            height: 20vh;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
            "title title"
            "profession select"
            "button button"
            ;
        }

        &--hobby{
            height: 20vh;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
            "title title"
            "hobby hobby"
            "button button"
            ;
        }
    }

    &__title{
        grid-area: title;
        padding: 0 5% 0 5%;
    }

    &__label{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10% 0 10%;
        font-size: 18px;

        &--profession{
            grid-area: profession;
        }

        &--city{
            grid-area: city;
        }

        &--company{
            grid-area: company;
            padding: 0 5% 0 5%;
        }

        &--start{
            grid-area: start;
        }

        &--end{
            grid-area: end;
        }

        &--select{
            grid-area: select;
        }

        &--hobby{
            grid-area: hobby;
            padding: 0 5% 0 5%;
        }
    }

    &__input{
        width: 100%;
        border: none;
        border-bottom: solid 1px $border-color;
        background-color: transparent;
        outline: none;
        font: 18px;

        &--button{
            grid-area: button;
            width: 20%;
            height: 70%;
            justify-self: center;
            align-self: center;
            background-color: $main-color;
            border: none;
            color: $form-bgc;
        }
    }
}

.element{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 5% 5% 5%;
    padding: 2%;
    border-radius: 10px;
    background-color: $green-color;

    &__button{
        border: solid 1px $border-color;
        background-color: red;
        padding: .5% 1.5%;
        color: white;
        outline: none;

.form2{
    width: 50%;
    height: 50%;
    padding: 5%;
    border-radius: 10px;
    background-color: $form-bgc;
    &--unactive{
        display: none;
    }
}
.form3{
    width: 50%;
    height: 50%;
    padding: 5%;
    border-radius: 10px;
    background-color: $form-bgc;
    &--unactive{
        display: none;
    }
}
}
}