*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$main-color: #118ab2;

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    .header{
        width: 80vw;
        height: 20vh;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo{
            width: 80px;
        }
        &__contact{
            color: black;
            text-decoration: none;
        }
    }
    .main{
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: space-around;
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__title{
            font-size: 60px;
        }
        &__under-title{
            font-size: 20px;
        }
        &__button{
            width: 30%;
            margin-top: 2em;
            padding: 0.5em 0em;
            font-size: 20px;
            color: white;
            background-color: $main-color;
            border: none;
            cursor: pointer;
        }
    }
    .bg-dots{
        position: absolute;
        z-index: -1;
        &--1{
            top: -100px;
            right: -150px;
        }
        &--2{
            top: 750px;
            left: -10px;
        }
    }
}