.bg-dots {
  position: absolute;
  z-index: 1;
}

.bg-dots--1 {
  top: -100px;
  right: -150px;
}

.bg-dots--2 {
  width: 70%;
  top: 750px;
  left: -400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.pdf-container {
  position: absolute;
  z-index: -1000;
  top: 0;
}

.progress-container {
  width: 30%;
  margin: 10% 0 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.progress-container__bar {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2%;
}

.progress-container__line {
  width: 90%;
  margin-left: 5%;
  height: 20%;
  position: absolute;
  background-color: #c0bdbd;
  z-index: 1;
  border-radius: 5px;
}

.progress-container__line--cover {
  width: 20%;
  z-index: 2;
  background-color: #118ab2;
  left: 0;
  transition: all .5s ease;
}

.progress-container__dots {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #c0bdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  transition: all .5s ease;
}

.progress-container__dots--1 {
  background-color: #0581aa;
}

.progress-container__dots--click-block {
  pointer-events: none;
}

.progress-container__icons {
  pointer-events: none;
}

.progress-container__icons--1 {
  color: white;
}

.progress-container__paragraphs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-container__text {
  width: 33%;
}

.progress-container__text--1 {
  text-align: left;
}

.progress-container__text--2 {
  text-align: center;
}

.progress-container__text--3 {
  text-align: right;
}

.form {
  width: 50%;
  height: 50%;
  padding: 5%;
  border-radius: 10px;
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: 30% repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "photo name name" "photo secname secname" "photo email email" "adress city post" "number button button";
  column-gap: 3%;
  z-index: 3;
}

.form__label {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  justify-self: center;
  align-self: center;
}

.form__label--name {
  grid-area: name;
}

.form__label--secname {
  grid-area: secname;
}

.form__label--email {
  grid-area: email;
}

.form__label--number {
  grid-area: number;
}

.form__label--adress {
  grid-area: adress;
}

.form__label--post {
  grid-area: post;
}

.form__label--city {
  grid-area: city;
}

.form__label--button {
  grid-area: button;
}

.form__input {
  height: 100%;
  border: none;
  border-bottom: solid #9DA5B2 1px;
  background-color: transparent;
  outline: none;
  font-size: 15px;
}

.form__input:focus {
  border-bottom: solid #61EDAA 1px;
}

.form__input--name, .form__input--secname, .form__input--email {
  width: 100%;
}

.form__input--adress, .form__input--number {
  width: 100%;
}

.form__input--city, .form__input--post {
  width: 100%;
}

.form__input--button {
  font-size: 18px;
  background-color: #118ab2;
  padding: 2% 5%;
  color: #f3f3f3;
  border: none;
  transition: all .5s ease;
}

.form__input--button--unactive {
  pointer-events: none;
  background-color: #a19c9c;
}

.form--unactive {
  display: none;
}

.imageInput {
  grid-area: photo;
  width: 65%;
  height: 100%;
  position: relative;
  background: transparent;
  border: solid 1px #61EDAA;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.imageInput__img {
  width: auto;
  height: 100%;
  z-index: 10;
}

.imageInput__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.imageInput__label:focus {
  cursor: pointer;
}

.imageInput__input {
  position: absolute;
  width: 100%;
  height: 95%;
  color: transparent;
  z-index: 20;
}

.imageInput__input:hover {
  cursor: pointer;
}

.imageInput__input::-webkit-file-upload-button {
  display: none;
}

.experience {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.experience--unactive {
  display: none;
}

.experience__container {
  width: 100%;
  background-color: #f3f3f3;
  padding: 5% 0 5% 0;
  margin: 5% 0 5% 0;
  border-radius: 10px;
}

.experience__form {
  width: 100%;
  height: 35vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "title title" "profession city" "company company" "start end" "button button";
  row-gap: 5%;
}

.experience__form--language {
  height: 20vh;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title" "profession select" "button button";
}

.experience__form--hobby {
  height: 20vh;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title" "hobby hobby" "button button";
}

.experience__title {
  grid-area: title;
  padding: 0 5% 0 5%;
}

.experience__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10% 0 10%;
  font-size: 18px;
}

.experience__label--profession {
  grid-area: profession;
}

.experience__label--city {
  grid-area: city;
}

.experience__label--company {
  grid-area: company;
  padding: 0 5% 0 5%;
}

.experience__label--start {
  grid-area: start;
}

.experience__label--end {
  grid-area: end;
}

.experience__label--select {
  grid-area: select;
}

.experience__label--hobby {
  grid-area: hobby;
  padding: 0 5% 0 5%;
}

.experience__input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #9DA5B2;
  background-color: transparent;
  outline: none;
  font: 18px;
}

.experience__input--button {
  grid-area: button;
  width: 20%;
  height: 70%;
  justify-self: center;
  align-self: center;
  background-color: #118ab2;
  border: none;
  color: #f3f3f3;
}

.experience__submit {
  font-size: 18px;
  background-color: #118ab2;
  padding: 2% 5%;
  color: #f3f3f3;
  border: none;
  margin-bottom: 5%;
}

.element {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 5% 5% 5%;
  padding: 2%;
  border-radius: 10px;
  background-color: #61EDAA;
  z-index: 3;
}

.element__button {
  border: solid 1px #9DA5B2;
  background-color: red;
  padding: .5% 1.5%;
  color: white;
  outline: none;
}

.form3 {
  width: 50%;
  height: 60vh;
  border-radius: 10px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.form3__title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form3__container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form3--unactive {
  display: none;
}

.form3__element {
  width: 27%;
  height: 75%;
  border-radius: 10px;
  display: block;
  background-color: #118ab2;
  padding: 2% 5%;
}

.form3__element--active {
  border: #61EDAA 1px solid;
}

.form3__submit {
  width: 20%;
  font-size: 18px;
  background-color: #118ab2;
  padding: 2% 5%;
  color: #f3f3f3;
  border: none;
  margin-bottom: 5%;
  overflow: hidden;
}

.form3__submit:focus {
  outline: none;
}
/*# sourceMappingURL=form.css.map */